<main>
<p>This is an Epicor extension</p>
<div class="appInfo">
  <p>ServerName: {{serverName()}}</p>
  <p>ApplicationName: {{applicationName()}}</p>
  <p>FormName: {{formName()}}</p>
  <p>UserID: {{userID()}}</p>
  <p>Company: {{company()}}</p>
  <p>EpicorVersion: {{EpicorVersion()}}</p>
  <p>EpicorPatchLevel: {{EpicorPatchLevel()}}</p>
  <p>UXPVersion: {{UXPVersion()}}</p>
  <p>HostingType: {{hostingType()}}</p>
  <button (click)="loadAppInfo()">load app Info</button>
  <button (click)="ClearInfo()">Clear info</button>
  <button (click)="DownloadLocalStorageData()">Download localStorage Data</button>
  <button (click)="showHideTable('shortCutKeysTable')">Load/Unload Shortcuts List</button>
  <button (click)="showHideTable('dataViews')">Load/Unload dataView List</button>
</div>
<div class="shortCutKeysTable">
  <!-- Column visibility controls -->
  <div class="column-controls">
      @for (col of shortCutKeyAllColumns; track col.key) {
      <mat-checkbox
        [checked]="visibleShortCutColumns().includes(col.key)"
        (change)="toggleColumn(visibleShortCutColumns,col.key)">
        {{col.label}}
      </mat-checkbox>
    }
    <button mat-button color="primary" (click)="resetColumns(visibleShortCutColumns, shortCutKeyAllColumns)">Reset</button>
    <button mat-button (click)="showOnly(visibleShortCutColumns, shortCutKeyAllColumns,['shortCut','title','defaultShortcut'])">Show Minimal</button>
  </div>
  <table mat-table [dataSource]="shortCutKeyDataSource()" class="mat-elevation-z8">
    <!-- Shortcut Column -->
    <ng-container matColumnDef="shortCut">
      <th mat-header-cell *matHeaderCellDef>Shortcut</th>
      <td mat-cell *matCellDef="let element">{{element.shortCut}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">{{element.title}}</td>
    </ng-container>

    <!-- Callback Column -->
    <ng-container matColumnDef="callback">
      <th mat-header-cell *matHeaderCellDef>Callback</th>
      <td mat-cell *matCellDef="let element">{{element.callback}}</td>
    </ng-container>

    <!-- Internal Column -->
    <ng-container matColumnDef="internal">
      <th mat-header-cell *matHeaderCellDef>Internal</th>
      <td mat-cell *matCellDef="let element">{{element.internal}}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{element.category}}</td>
    </ng-container>

    <!-- Element Column -->
    <ng-container matColumnDef="element">
      <th mat-header-cell *matHeaderCellDef>Element</th>
      <td mat-cell *matCellDef="let element">{{element.element}}</td>
    </ng-container>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Default Shortcut Column -->
    <ng-container matColumnDef="defaultShortcut">
      <th mat-header-cell *matHeaderCellDef>Default Shortcut</th>
      <td mat-cell *matCellDef="let element">{{element.defaultShortcut}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedShortCutColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedShortCutColumns();"></tr>
  </table>
</div>
<div class="dataViews">
   <div class="column-controls">
      @for (col of dataViewAllColumns; track col.key) {
      <mat-checkbox
        [checked]="visibledataViewColumns().includes(col.key)"
        (change)="toggleColumn(visibledataViewColumns,col.key)">
        {{col.label}}
      </mat-checkbox>
    }
    <button mat-button color="primary" (click)="resetColumns(visibledataViewColumns, dataViewAllColumns)">Reset</button>
    <button mat-button (click)="showOnly(visibledataViewColumns, dataViewAllColumns,['viewId','tableId'])">Show Minimal</button>
  </div>
   <table mat-table [dataSource]="dataViewDataSource()" class="mat-elevation-z8">
    <!-- Shortcut Column -->
    <ng-container matColumnDef="viewId">
      <th mat-header-cell *matHeaderCellDef>ViewId</th>
      <td mat-cell *matCellDef="let element">{{element.viewId}}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="tableId">
      <th mat-header-cell *matHeaderCellDef>TableId</th>
      <td mat-cell *matCellDef="let element">{{element.tableId}}</td>
    </ng-container>

    <!-- Callback Column -->
    <ng-container matColumnDef="schema">
      <th mat-header-cell *matHeaderCellDef>schema</th>
      <td mat-cell *matCellDef="let element">{{element.schema}}</td>
    </ng-container>

    <!-- Internal Column -->
    <ng-container matColumnDef="datasetId">
      <th mat-header-cell *matHeaderCellDef>DatasetId</th>
      <td mat-cell *matCellDef="let element">{{element.datasetId}}</td>
    </ng-container>

    <!-- Category Column -->
    <ng-container matColumnDef="serverDataset">
      <th mat-header-cell *matHeaderCellDef>ServerDataset</th>
      <td mat-cell *matCellDef="let element">{{element.serverDataset}}</td>
    </ng-container>

    <!-- Element Column -->
    <ng-container matColumnDef="serverTable">
      <th mat-header-cell *matHeaderCellDef>ServerTable</th>
      <td mat-cell *matCellDef="let element">{{element.serverTable}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayeddataViewColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: displayeddataViewColumns();"></tr>
  </table>
</div>
</main>



